<div class="container">
    <h4 style="text-align: center;">..Encuéntranos</h4>
    <div class="card">
        <div class="card-body">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15930.482600812828!2d-76.52931181131586!3d3.442091024351256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sco!4v1669532009450!5m2!1ses-419!2sco"
                width="800" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <h4 style="text-align: center;">Contáctanos...</h4>
    <form
      name="myform"
      style="background-image: url(./img/fondoVentas.jpg); margin: 5px"
    >
      <div class="contenedor">
        <div class="formulario_contacto">
          <div class="col-6 align-self-center">
            <label for="nombre">Nombre:</label>
            <input
              class="form-control"
              type="text"
              id="nombre"
              style="border: 1px solid #B8BEF5"
            />
          </div>

          <div class="col-6 align-self-center mt-2">
            <label for="apellido">Apellido:</label>
            <input
              class="form-control"
              type="text"
              id="apellido"
              style="border: 1px solid #B8BEF5"
            />
          </div>

          <div class="col-6 align-self-center mt-2">
            <label for="direccion">Direccion:</label>
            <input
              class="form-control"
              type="text"
              id="direccion"
              style="border: 1px solid #B8BEF5"
            />
          </div>

          <div class="col-6 align-self-center mt-2">
            <label for="email">Email:</label>
            <input
              class="form-control"
              type="text"
              id="email"
              style="border: 1px solid #B8BEF5"
            />
          </div>

          <div class="col-6 align-self-center mt-2">
            <label for="email">Teléfono:</label>
            <input
              class="form-control"
              type="text"
              id="email"
              style="border: 1px solid #B8BEF5"
            />
          </div>

          <div class="col-6 align-self-center mt-2">
            <label for="ciudad">Ciudad:</label>
            <input
              class="form-control"
              type="text"
              id="ciudad"
              style="border: 1px solid #B8BEF5"
            />
          </div>
        </div>
        <div style="text-align: center; padding-bottom: 10px;">
            <button type="button" class="btn btn-primary mt-3" style="justify-content: center;">Guardar</button>
        </div>
        
      </div>
      
    </form>
</div>