<div class="container">
    <h1>-- Nuestros servicios --</h1>
    <div class="row mt-3">
        <div class="col-8">
            <h4 style="padding-left: 30px;">Infraestructura:</h4>
            <p style="padding-left: 30px;">Dentro de nuestra trayectoria existen más de 300 contratos de obras
                relacionados con:</p>
            <ul style="margin-left: 15px;">
                <li style="padding-left: 30px;">Movimiento de tierra</li>
                <li style="padding-left: 30px;">Vialidad</li>
                <li style="padding-left: 30px;">Drenajes</li>
                <li style="padding-left: 30px;">Pavimentación</li>
                <li style="padding-left: 30px;">Presas</li>
                <li style="padding-left: 30px;">Diques</li>
                <li style="padding-left: 30px;">Túneles de descarga o desvíos</li>
            </ul>
        </div>
        <div class="col-4">
            <img src="https://cutt.ly/L1jXJUB" style="height: 300px; width:283px">
        </div>
    </div>
    <hr style="width:100%; height:5px;background:rgb(13, 40, 99);">
    <div class="row mt-3">
        <div class="col-4">
            <img src="https://cutt.ly/q1jCSAj" style="height: 300px; width:290px;">
        </div>
        <div class="col-8">
            <h4 style="padding-top: 35px;">Edificaciones:</h4>
            <p>Dentro de nuestra experiencia hemos desarrollado proyectos relacionados con:</p>
            <ul>
                <li>Contrucción de estadios</li>
                <li>Sedes universitarias</li>
                <li>Centros de operación</li>
                <li>Centros de investigación tecnológica</li>
                <li>Hospitales</li>
                <li>Hoteles</li>
            </ul>
        </div>
    </div>
    <hr style="width:100%; height:5px;background:rgb(13, 40, 99);">
    <div class="row mt-3">
        <div class="col-8">
            <h4 style="padding-top: 40px;">Desarrollos inmobiliarios:</h4>
            <p>Dentro de nuestra área de desarrollo urbano implementamos:</p>
            <ul>
                <li>Contrucción de viviendas sustentables</li>
                <li>Diseño arquitectónico</li>
                <li>Construcción completa y de calidad</li>
                <li>Quipamiento seguro</li>
            </ul>
        </div>
        <div class="col-4">
            <img src="https://cutt.ly/J1jC6Mb" style="height: 280px; width:285px;">
        </div>
    </div>

</div>