<div class="flex-container">
    <h2>Areas de desarollo</h2>
    <div>
        <div class="card mt-2 mb-3" style="width: 24rem;">
            <a href="https://www.dellacqua.com/infraestructura"><img src="https://cutt.ly/w1jLt9r"
                    class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h5>Infraestructura:</h5>
                <p class="card-text"> Trayectoria en obras de movimiento de tierra,
                    vialidad, drenajes, pavimentación y otras actividades de infraestructuras.</p>
            </div>
        </div>
        <div class="card mb-3" style="width: 24rem;">
            <a href="https://www.dellacqua.com/edificios-publicos"><img src="https://cutt.ly/h1jLQiR"
                    class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h5>Edificaciones:</h5>
                <p class="card-text">Experiencia en la construcción de estadios, universidades,
                    centros de operación e investigación, hospitales y hoteles, entre otros.</p>
            </div>
        </div>
        <div class="card" style="width: 24rem;">
            <a href="https://www.dellacqua.com/desarrollos-inmobiliarios"><img src="https://cutt.ly/W1jLG76"
                    class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h5>Desarrollos inmobiliarios:</h5>
                <p class="card-text">Construcción de viviendas sustentables de calidad,
                    contamos con tecnologías en diseño arquitectónico, construcción y
                    equipamiento. </p>
            </div>
        </div>
    </div>
</div>
<br>