<div class="container">
    <div class="row mt-4">
        <youtube-player videoId="XRDII1X7lFI" suggestedQuality="highres" [height]="250" [width]="500"></youtube-player>
    </div>
    <div class="row mt-4">
        <youtube-player videoId="QsenceO4Gw8" suggestedQuality="highres" [height]="250" [width]="500"></youtube-player>
    </div>
    <div class="row mt-4">
        <youtube-player videoId="VpRegaW7XEQ" suggestedQuality="highres" [height]="250" [width]="500"></youtube-player>
    </div>



</div>